<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
		"/>
		<link rel="stylesheet" href="../../Public/css/weui.min.css"/>
		<link rel="stylesheet" href="../../Public/css/jquery-weui.css"/>
		<link rel="stylesheet" href="../../Public/css/my.css"/>
		
		<script src="../../Public/js/jquery-2.1.4.js"></script> 
		<script src="../../Public/js/fastclick.js"></script>
		<script src="../../Public/js/jquery-weui.js"></script>
		<script src="../../Public/js/swiper.js"></script>
		<title>女子学院</title>
	</head>
	<body>
		
		<div class="weui-content">
			<div class="wy-center-top">
			    <div class="weui-media-box weui-media-box_appmsg">
			      <div class="weui-media-box__hd"><img class="weui-media-box__thumb radius" src="http://wx.qlogo.cn/mmopen/1kQ2eM2F9HB9uNBicKDhkGsxZtGiaWRm1ZztK79tukic25RQtaMISGMcNuxTiceWSic2xgt9xZUr5LmOrDd6CEwkphyemLD6BP9oQ/0" alt=""></div>
			      <div class="weui-media-box__bd">
			        <h4 class="weui-media-box__title user-name">胡猛</h4>
			        <p class="user-grade">等级：普通会员</p>
			        <p class="user-integral">待返还金额：<em class="num">500.0</em>元</p>
			      </div>
			    </div>
			</div>
		</div>
		
		
		<div class="weui-panel">
			<div class="weui-panel__bd">
				<div class="weui-media-box weui-media-box_small-appmsg">
					<div class="weui-cells">
						<a class="weui-cell weui-cell_access" href="my/achievement.html">
			                <div class="weui-cell__hd"><img src="../../Public/images/center-icon-jyjl.png" alt="" class="center-list-icon"></div>
			                <div class="weui-cell__bd weui-cell_primary">
			                  <p class="center-list-txt">成就</p>
			                </div>
			                <span class="weui-cell__ft"></span>
		              	</a>
				        <a class="weui-cell weui-cell_access" href="shoucang.html">
			                <div class="weui-cell__hd"><img src="../../Public/images/center-icon-sc.png" alt="" class="center-list-icon"></div>
			                <div class="weui-cell__bd weui-cell_primary">
			                  <p class="center-list-txt">班级</p>
			                </div>
			                <span class="weui-cell__ft"></span>
		              </a>
					</div>
					<div class="betton">
						<div class="weui-cells">
							<a class="weui-cell weui-cell_access" href="card.html">
				                <div class="weui-cell__hd"><img src="../../Public/images/center-icon-yhk.png" alt="" class="center-list-icon"></div>
				                <div class="weui-cell__bd weui-cell_primary">
				                  <p class="center-list-txt">邀请好友加入</p>
				                </div>
				                <span class="weui-cell__ft"></span>
				            </a>
				            <a class="weui-cell weui-cell_access" href="password.html">
				                <div class="weui-cell__hd"><img src="../../Public/images/center-icon-dlmm.png" alt="" class="center-list-icon"></div>
				                <div class="weui-cell__bd weui-cell_primary">
				                  <p class="center-list-txt">帮助与反馈</p>
				                </div>
				                <span class="weui-cell__ft"></span>
				            </a>
				            <a class="weui-cell weui-cell_access" href="login.html">
				                <div class="weui-cell__hd"><img src="../../Public/images/center-icon-out.png" alt="" class="center-list-icon"></div>
				                <div class="weui-cell__bd weui-cell_primary">
				                  <p class="center-list-txt">更多</p>
				                </div>
				                <span class="weui-cell__ft"></span>
				            </a>
						</div>
					</div>
				</div>
							
			</div>
		</div>
		
		<!--底部导航-->
		<div class="weui-tabbar wy-foot-menu">
			<a href="../index.html" class="weui-tabbar__item">
			   <div class="weui-tabbar__icon foot-menu-home"></div>
			   <p class="weui-tabbar__label">今日</p>
			</a>
			<a href="../educate/educate.html" class="weui-tabbar__item">
			   <div class="weui-tabbar__icon foot-menu-list"></div>
			   <p class="weui-tabbar__label">教务</p>
			</a>
			<a href="my.html" class="weui-tabbar__item weui-bar__item--on">
			   <div class="weui-tabbar__icon foot-menu-cart"></div>
			   <p class="weui-tabbar__label">我的</p>
			</a>
		</div>
	
		<script>
			
		</script>
	</body>
</html>
