<html>
  <head>
    <title>女子学院</title>
    <meta charset="UTF-8">
    <style type="text/css">
         h1{
           text-align:center;
           font-size:50px;
         }
         .first_content p{
           font-size:30px;
           width:94%;
           margin:0px auto;
         }
         .second_content p{
          font-size:30px;
           width:94%;
           margin:0px auto;
         }
    </style>
  </head>
  <body>
   <div class="all">
    <div class="title">
    <h1>《学员手册》</h1>
    </div>
   <div class="first">
     <div class="first_top">
       <h2>一、熊猫书院简介</h2>
      </div>
      <div class="first_content">
      <p>熊猫书院是TMOV女子精修学院旗下的在线纯粹化教育项目，目前正在
            发起一项 十个月提升自己行动计划，旨在帮助有强烈阅读愿望但有不知
            道读什么书、不能坚持阅读、阅读效率低下的学院在为期十个月的课程期
            间能够轻松获得数十本图书的精髓内容。</p>
      </div>
   </div>  
       <div class="second">
          <div class="second_top">
           <h2>二、学习规划</h2>
          </div>
          <div class="second_content">
       <p>读书计划每十个月为一个学制周期：前九个月沉淀学习，第十个月升华总结。</p>
       <p>在沉淀学习期间，学院按照我们的学习大纲进行阅读学习，每个月的阅读主题和
               详细书单会提前在教务系统公布。</p>
       </div>  
     </div>  
     </div>
   </body>
</html>
