<!DOCTYPE html>
<html>
<head>
	<title>TMOV女子学院</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

	<link rel="stylesheet" href="../Public/css/weui.min.css"/>
	<link rel="stylesheet" href="../Public/css/jquery-weui.min.css"/>
	<link rel="stylesheet" href="../Public/css/style.css"/>
	
	<script src="../Public/js/jquery-2.1.4.js"></script> 
	<script src="../Public/js/jquery-weui.min.js"></script>

</head>

<body>


	<div class="top">
		<div style="height: 20px;"></div>
		<div>
			<p class="read-day">0</p>
			<p class="read-sec">0</p>
			<p class="read-num">0</p>
		</div>
		<div class="tip">
			<p class="tip-day">阅读/天</p>
			<p class="tip-sec">阅读/分</p>
			<p class="tip-num">阅读/本</p>
		</div>

		<div class="mail">
			<a href="">
				<img class="mail-img" src="../Public/images/youxiang.png"/>
				<span>邮件</span>
				<img class="arrow-img" src="../Public/images/jiantou.png"/>
			</a>
		</div>
	</div>
	
	<!--底部导航-->
	<div class="weui-tabbar">
		<a href="#" class="weui-tabbar__item weui-bar__item--on">
		    <div class="weui-tabbar__icon foot-menu-home"></div>
		    <p class="weui-tabbar__label">今日</p>
		</a>
		<a href="educate/educate.html" class="weui-tabbar__item">
		    <div class="weui-tabbar__icon foot-menu-list"></div>
		    <p class="weui-tabbar__label">教务</p>
		</a>
		<a href="my/my.html" class="weui-tabbar__item">
		    <div class="weui-tabbar__icon foot-menu-cart"></div>
		    <p class="weui-tabbar__label">我的</p>
		</a>
	</div>

</body>
</html>



<script type="text/javascript">

	$.ajax({

		type:'post',
		dataType:'json',
		url:'http://mlyh.ngrok.cc/MlyBook/index.php/Admin/Api/getUserInfo',
		data:{
			'weixinid':'oC_AjuGs-Zk1dXSXIp-XWrXZZQYE'
		},
		success:function(data){

			var status = data['status'];

			if (status == '0') {

				if (data['data']) {

					var readday = data['readday'];
					var readtime = data['readtime'];
					var readnum = data['readnum'];
					$('.read-day').text(readday);
					$('.read-sec').text(readtime);
					$('.read-num').text(readnum);
				}

			} else {

				
			}
		},
		error:function(error){

			$.toast("请求失败","text");
		}
	});

</script>