<!DOCTYPE html>
<html>
<head>
	<title>TMOV女子学院</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

	<link rel="stylesheet" href="../Public/css/weui.min.css"/>
	<link rel="stylesheet" href="../Public/css/jquery-weui.css"/>
	<link rel="stylesheet" href="../Public/css/style.css"/>
	
	<script src="../Public/js/jquery-2.1.4.js"></script> 
	<script src="../Public/js/jquery-weui.js"></script>
</head>

<body>
	
	<div class="top-num">
		<div class="left-num"><span>0</span></div>
		<div class="middle-num"><span>0</span></div>
		<div class="right-num"><span>0</span></div>
	</div>
	<div class="message">
		<div><span>坚持阅读 /天</span></div>
		<div><span>学习时长 /分钟</span></div>
		<div><span>已读书籍 /本</span></div>
	</div>
	<div class="mess-bottom">
		<div class="middle-mail">
			<a>
				<div class="mail-img"><img src="../Public/images/youxiang.png"/></div>
				<div class="mail-mess"><p>邮件</p></div>
				<div class="arrow-img"><img src="../Public/images/jiantou.png"/></div>
			</a>
		</div>
	</div>
	
  	
	<!--底部导航-->
	<div class="weui-tabbar">
		<a href="../index.html" class="weui-tabbar__item weui-bar__item--on">
		    <div class="weui-tabbar__icon foot-menu-home"></div>
		    <p class="weui-tabbar__label">今日</p>
		</a>
		<a href="educate/educate.html" class="weui-tabbar__item">
		    <div class="weui-tabbar__icon foot-menu-list"></div>
		    <p class="weui-tabbar__label">教务</p>
		</a>
		<a href="my/my.html" class="weui-tabbar__item">
		    <div class="weui-tabbar__icon foot-menu-cart"></div>
		    <p class="weui-tabbar__label">我的</p>
		</a>
	</div>
	

	<script>
	</script>
</body>
</html>