<!DOCTYPE html>
<html>
  <head>
    <title>女子学院</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    
    <style type="text/css">
    body{
      background-color:#F3F3F3;
    }
       .min{
          float:left;
          width:33%;
          text-align:center;
        }
        .read{
          float:left;
          width:33%;
           text-align:center;
        }
        .clear{
         clear:both;
        }
        .count{
          float:left;
          width:33%;
          text-align:center;
        }
    </style>
  </head>
  <body>
       <div class="header">
       <div class="min">
          <span>43min</span>
       </div>
       <div class="count">
         <span>10</span>
         <span>/10</span>
       </div>
       <div class="read">
         <span>ÒÑÔÄ¶Á</span>
         <span>100%</span>
       </div>
       <div class="clear"></div>
      </div>
  </body>
</html>
