
body{
	background: #F5F5F5;
}



.top{
	width: 100%;
	height: 20%;
	background: #FFB90F;
	position: absolute;
}


.top .read-day,.read-sec,.read-num{
	color: #ffffff;
	margin-left: 21%;
	display: inline;
}
.top .tip-day,.tip-sec,.tip-num{
	display: inline;
	color: #ffffff;
	margin-left: 15%;
	font-size: 14px;
}
.tip-sec{
	margin-left: 13%;
}
.tip-num{
	margin-left: 11%;
}
.read-day,.read-num{
	font-size: 16px;
}
.read-sec{
	font-size: 24px;
}


.mail{
	height: 50px;
	width: 50%;
	margin-left: 25%;
	margin-top: 25px;
	border-radius: 20px;
	background: #ffffff;
	float: left;
}
.mail img{
	width: 20px;height: 20px;
	margin-top: 15px;
}

.mail .mail-img{
	margin-left: 10px;
}

.mail a span{
	color: #000000;
	font-size: 15px;
}



/*底部导航*/
.foot-black{height:48px; clear:both;}
.weui-tabbar.wy-foot-menu{position:fixed;}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{color:#e21323;}
.weui-tabbar__label{color:#666;}
.weui-tabbar__icon{width:22px; height:22px;}
.weui-tabbar__item .foot-menu-home{background:url(../images/footer001); no-repeat; background-size:22px;}
.weui-tabbar__item.weui-bar__item--on .foot-menu-home{background:url(../images/footer001.png) no-repeat; background-size:22px;}
.weui-tabbar__item .foot-menu-list{background:url(../images/footer02.png) no-repeat; background-size:22px;}
.weui-tabbar__item.weui-bar__item--on .foot-menu-list{background:url(../images/footer002.png) no-repeat; background-size:22px;}
.weui-tabbar__item .foot-menu-cart{background:url(../images/footer03.png) no-repeat; background-size:22px;}
.weui-tabbar__item.weui-bar__item--on .foot-menu-cart{background:url(../images/footer003.png) no-repeat; background-size:22px;}